[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/clam"]
	path = bundle/clam
	url = https://github.com/sjl/clam.vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "helpers/tmux-MacOSX-pasteboard"]
	path = helpers/tmux-MacOSX-pasteboard
	url = https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
