[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "helpers/tmux-MacOSX-pasteboard"]
	path = helpers/tmux-MacOSX-pasteboard
	url = https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
